.container{
    width: 100%;
    position: relative;
    margin-bottom: 25px;
    display: grid;
    grid-gap: 15px;
    grid-template-areas: 
        'first first second'
        'first first third'
        'fourth fifth sixth'
        'seventh eighth ninth';

    
}
@media screen and (max-width: 550px){
    .container{
    width: 100%;
    
    margin-bottom: 15px;

    display: grid;
    grid-gap: 10px;
    grid-template-areas: 
        'first first '
        'second third'
        'fourth fifth'
        'sixth seventh '
        'eighth ninth';

    
}
}
