@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Montserrat:ital,wght@1,200&family=Oswald:wght@300&display=swap');



.container{
    display: grid;
    width: 100vw;
    grid-template-areas: 'logo nav nav search ';
    align-items: center;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
}
.logo{
    font-family: 'League Gothic', sans-serif;
    grid-area: logo;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.0em;
    font-weight: 400;
   margin: 5px 10px;
   padding: 5px 10px;
}
.logoimg{
  width: 60px;
  height: 60px;
}
.logotxt{
  text-transform: uppercase;
  font-size: 2.0rem;
}
.are{
    color: red;
    font-family: 'Oswald', sans-serif;
}
.say{
  color: purple;
    font-family: 'Montserrat', sans-serif;
}
.navItem{
  display: block;
  grid-area: nav;
  
}
.navItem ul{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 500;
    
}

.navItem li{
    list-style: none;
    padding: 5px 10px;
   
    
    
}
.navItem ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    font-size: 1.4rem;
    cursor: pointer;
}

.navItem ul li a:hover{
    text-decoration: underline;
    color: red;
}

.search{
  display: flex;
  grid-area: search;
  align-items: center;
  justify-content: space-between;
  margin-right: 50px;
  
  
}
.search input{
    border-radius: 30px;
    border-color: 5px solid black;
    font-family: 'Oswald';
  
}
.searchIcons{
    font-size: 1.8rem;
    margin: 0 5px;
    padding: 0 5px;
    cursor: pointer;
}
.menu{
    display: none;
    
}

@media screen and (max-width: 550px) {
  .container{
   
    grid-template-areas: 'logo menu';
    align-items: center;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;


}

.logo{
   
    grid-area: logo;
    
    font-size: 1.6em;
    
   
}
.logoimg{
  width: 40px;
  height: 40px;
}
.logotxt{

  font-size: 1.6rem;
}

    .navItem{
        display: none;
        
      }
      .search{
        
       display: none;

        
        
      }

  
  


.searchIcons{
    font-size: 1.4rem;
   
  
}
      
      .menubar{
          position: relative;
         
         
          
          
          
      }
      .menu{
         grid-area: menu;
          display: block;
        font-size: 1.3rem;
        cursor: pointer;
        margin-right: 20px;

      }
  }

